@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--krema);
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

:root{
    --yesil-500: hsl(158, 36%, 37%);
    --yesil-700: hsl(158, 42%, 18%);

    --siyah: hsl(212, 21%, 14%);
    --gri: hsl(228, 12%, 48%);
    --krema: hsl(30, 38%, 92%);
    --beyaz: hsl(0, 0%, 100%);
}

h1,h2{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.icerik{
    background-color: var(--beyaz);
    border-radius: 10px;
    overflow: hidden; 
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.urun-resmi{
    width: 50%;
}

.urun-resmi img{
    width: 100%;
    height: 100%;
}

.urun-bilgi{
    width: 50%;
    padding: 40px;
}

.baslik-1{
    color: var(--gri);
    margin-bottom: 25px;

}

.baslik-2{
    font-size: 22px;
    margin-bottom: 25px;
}

.urun-yazi{
    color: var(--gri);
    line-height: 2;
    margin-bottom: 25px;
}

.fiyatlar{
    display: flex;
    margin-bottom: 25px;
}

.yeni-fiyat{
    color: var(--yesil-500);
    font-size: 20px;
    align-items: center;
    margin-right: 20px;
}

.eski-fiyat{
    color: var(--gri);
    align-items: center;
    display: flex;
    text-decoration: line-through;
    font-size: 16px;
}

.btn{
    color: var(--beyaz);
    background-color: var(--yesil-500);
    border: none;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.btn:hover{
    background-color: var(--yesil-700);
    cursor: pointer;
    border: none;
    overflow: hidden;
}

@media(max-width:375px){
    .icerik{
        flex-direction: column;
    }
    .urun-resmi,.urun-bilgi{
        width: 100%;
    }
    h1{
       font-size: 29px; 
    }
    body{
        font-size: 10px;
    }
    .urun-bilgi{
        padding: 30px;
    }
}